
.splash {
  background-image: url('../images/splash/IMG_9583-2048x1365.jpg');
  height: 90vh;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.splashContact {
  background-image: url('../images/splash/szklarnia-katowice-01-1536x1024.jpg');
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  width: 200px;
  margin-right: 20px;
}

.footerlink a {
  color: #ccc;
  display: block;

}
.footerlink a:hover {
  text-decoration: underline;
}
.mapsContactNagl {
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  font-weight: 400;
  letter-spacing: 15px;
  margin-bottom: 10px;
}
.mapsContactPhone {
  text-transform: uppercase;
  font-size: 3em;
  text-align: center;
  font-weight: 800;
}
.mapsContactAddress {
  text-transform: uppercase;
  font-size: 1.3em;
  text-align: center;
  font-weight: 400;
  letter-spacing: 5px;
  margin-bottom: 40px;
  margin-top: 20px;

}
.homeTitle {
  text-transform: uppercase;
  font-size: 3em;
  text-align: center;
  font-weight: 800;
}
.testimonialTitle {
  font-size: 1.3em;
  text-align: center;
  font-weight: 600;
  margin: 30px 150px;

}
.homeTextCenter {
  text-align: center;
}
.testimonialNameLast {
  color: #bfbfbf;
  font-size: 1.3em;
  font-weight: 600;

}
.testimonialWho {
  text-transform: uppercase;
  font-size: 13pt;
  font-weight: 400;
  letter-spacing: 3px;
  color: #000;

}
.price {
  font-size: 3em;
  font-weight: 100;
  color: #000;
  text-align: center;

}
.images {
  width: 100%;
  -webkit-box-shadow: 2px 2px 17px -14px rgba(66, 68, 90, 1);
  -moz-box-shadow: 2px 2px 17px -14px rgba(66, 68, 90, 1);
  box-shadow: 2px 2px 17px -14px rgba(66, 68, 90, 1);
}

@media only screen and (max-width: 576px) {
  .mapsContactPhone {
    font-size: 2.0em;
  }
  .homeTitle {
    font-size: 2.3em;

  }
  .testimonialTitle {
    font-size: 1.2em;
    text-align: center;
    font-weight: 600;
    margin: 30px 10px;
  
  }
  .price {
    font-size: 1.7em;
    
  
  }
}